<section id="cta" class="py-5 my-5">
  <div class="overlay"></div>

  <div class="container contain text-center py-5">
    <div class="mx-auto" style="max-width: 720px;">
      <h2 class="display-5 fw-bold text-white mb-4">
        Let Me Create Your Dream Wedding Website
      </h2>
      <p class="lead mb-5 text-light">
        Ready to make your special day shine online? Let's collaborate to create a beautiful, animated wedding website that perfectly captures your love story.
      </p>
      <a routerLink="/contact" class="btn btn-lg btn-outline-light rounded-pill shadow">
        Get Started Today
      </a>
    </div>
  </div>
</section>
<!-- <section id="cta" class="py-5 bg-secondary opacity-25">
  <div class="container text-center">
    <h2 class="fw-bold mb-4">Let's Create Your Dream Wedding Website</h2>
    <p class="lead mb-4">
      Ready to make your special day shine online? Let's collaborate to create a
      beautiful, animated wedding website that perfectly captures your love story.
    </p>
    <a routerLink="/contact" class="btn btn-primary btn-lg">
      Get Started Today
    </a>
  </div>
</section> -->


