<section id="about my-lg-4">
    <div class="container overflow-hidden">
        <div class="row gy-5">
            <div class="col-md-12 col-lg-7 ps-lg-5">
                <div class="d-flex align-content-center text-start ps-lg-5">
                    <div>
                        <h2 class="text-capitalize fw-bold display-3">Let's get closer</h2>
                        <h3 class="mb-4">Hi, I'm Jennifer Mbonu</h3>
                        <p class="mb-4 about-text">A frontend web developer specializing in wedding websites. My mission is to make your big day unforgettable online with animations, galleries, and interactive features.</p>
                        <p class="about-text">With a passion for creating beautiful digital experiences, I combine technical expertise with an eye for design to craft websites that not only look stunning but also function flawlessly.</p>

                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-5 pe-lg-5">
                <img src="assets/images/jennifermbonu.webp" alt="Profile" class="img-fluid rounded avatar mx-auto d-block" />
            </div>
        </div>
    </div>
</section>