<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <h4 class="animated-text">Get In Touch With Me</h4>
            <p class="footer-email my-4">
                <a href="mailto:mbonujennifer.jm@gmail.com" 
                    class="text-decoration-none text-light hover-orange">
                    <i class="bi bi-envelope-fill me-3"></i>mbonujennifer.jm&#64;gmail.com
                </a>
            </p>
        </div>
    </div>
    <div class="row d-flex align-items-center contact-table my-3">
        <div class="col-md-4 mb-4 mb-md-0">
            <h3 class="display-font fw-bold gradient-text">JENNIFERM</h3>
        </div>
        <div class="col-md-4 mb-4 mb-md-0">
            <p class="text-capitalize">Let me build you a Beautiful Wedding Website</p>
            <p>Without Hassle or Stress</p>
        </div>
        <div class="col-md-4 text-md-end fs-4">
            <i class="bi bi-linkedin me-3"></i>
            <i class="bi bi-pinterest"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="text-center copyright mt-2 pt-5">&copy; 2024 Mbonu Jennifer. All rights reserved.</p>
        </div>
    </div>
</div>