<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body fixed-top navBar" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand display-font fw-bold brandname" routerLink="/">JENNIFERM</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">  
      <ul class="navbar-nav mb-4 mb-lg-0 nav-underline"> 
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/portfolio" routerLinkActive="active">My Works</a>
        </li>
      </ul>
      <a routerLink="/contact" class="btn btn-outline-secondary rounded-pill cta ms-lg-4">CONTACT</a>
    </div>
  </div>
</nav>